[user]
	name = Nurudin Imsirovic
	author = imshvc
	email = nurudinimsirovic@icloud.com

[core]
	filemode = false
	editor = nano
	autocrlf = false
	longpaths = true

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[status]
	showuntrackedfiles=all

[pull]
	ff = only

[push]
	autoSetupRemote = true
	default = simple

[safe]
	directory = *

[advice]
	addEmptyPathspec = false
