# npmrc linux
# docs: https://docs.npmjs.com/cli/commands/npm-config

prefix = /usr/local
cache = ${HOME}/.npm

editor = ${EDITOR}
fund = false
progress = true
color = true
shell = ${SHELL}
unicode = true
update-notifier = true
viewer = man
