# npmrc msys2 (windows)
# docs: https://docs.npmjs.com/cli/commands/npm-config

prefix = D:/Apps/npm
cache = D:/Apps/npm/cache

editor = ${EDITOR}
fund = false
progress = true
color = true
shell = ${SHELL}
unicode = true
update-notifier = true
viewer = browser
